services:
  taskboard-api:
    container_name: taskboard-api
    restart: unless-stopped
    build: .
    ports:
      - "8080:80"
    environment:
      - ASPNETCORE_URLS=http://+:80
      - ASPNETCORE_ENVIRONMENT=Development
      - MigrateOnStartup=true
      - ConnectionStrings__TaskBoardDb=Data Source=/app/data/taskboard.db
    volumes:
      - sqlite-data:/app/data

volumes:
  sqlite-data: